<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title> Resposta </title>
<link href="style.css" rel="stylesheet">
</head>

<body>

<div class="containerpai">
 
    <div class="container">
        <h1> Resposta para o usuário: </h1>

        <h1>Titulo: <%= titulo %> </h1>
        <p>Resumo: <%= resumo %> </p>
        <p>Conteúdo: <%= conteudo %> </p>
</div>
</div>

</body>

</html>