.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 12vh;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70vh;
}
#bolinha {
    background-color: gray;
    border: 8px, solid black;
}