.rightbar {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-left: 130vh;
    align-items: start;
    text-align: start;
    padding: 20px;
    width: 40vh;
    height: 65vh;
    top: 50vh;
}
