*{
    display: flex;
    align-items: center;
    text-align: center;
}
body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70vh;
}
