.textinho{
    position: relative;
    display: inline;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    color: darkred;
    font-size: 15px;
    list-style: none;
    padding-left: 450px;
    padding-right: 450px;
    left: 0%;
    top: 0px;
}
.textinhofinal {
  position: relative;
  display: inline;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  top: 600px;
  left: 38%;
  font-size: 15pt
}
.texto {
  position: absolute;
  display: inline;
  display: flex;
  align-items: center;
  color: indigo;
  font-size: 24px;
  padding-left: 60px;
  padding-right: 60px;
  left: 0px;
  top: 360px;
}
.texto2 {
    position: absolute;
    display: inline;
    display: flex;
    align-items: center;
    color: indigo;
    font-size: 24px;
    padding-left: 60px;
    padding-right: 60px;
    left: 0px;
    top: 460px;
  }
  .texto3 {
    position: absolute;
    display: inline;
    display: flex;
    align-items: center;
    color: indigo;
    font-size: 24px;
    padding-left: 60px;
    padding-right: 60px;
    left: 0px;
    top: 560px;
  }
  .nome {
    position: relative;
    display: inline;
    display: flex;
    align-items: center;
    font-size: 30px;
    border: solid 1px red;
    width: 169px;
    height: 0px;
  }
  .email {
    position: absolute;
    display: inline;
    display: flex;
    align-items: center;
    left: 234px;
    top: 0px;
    font-size: 30px;
    border: solid 1px red;
    width: 170px;
    height: 0px;
  }
  .nome1 {
    position: relative;
    display: inline;
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
    border: solid 1px red;
    width: 169px;
    height: 0px;
  }
  .email1 {
    position: absolute;
    display: inline;
    display: flex;
    align-items: center;
    color: black;
    left: 234px;
    top: 63.5px;
    font-size: 16px;
    border: solid 1px red;
    width: 170px;
    height: 0.5px;
  }
.nome2 {
  position: absolute;
    display: inline;
    display: flex;
    align-items: center;
    color: black;
    left: 0px;
    top: 128px;
    font-size: 16px;
    border: solid 1px red;
    width: 169px;
    height: 0px;
}
.email2 {
  position: absolute;
    display: inline;
    display: flex;
    align-items: center;
    color: black;
    left: 234px;
    top: 128px;
    font-size: 16px;
    border: solid 1px red;
    width: 170px;
    height: 0px;
}
.textoinbox {
  position: absolute;
  font-size:larger;
  color:black;
  top: 0px;
  left: 0%
}
.listainbox {
  position: absolute;
  font-size: 20px;
  color: black;
  top: 60px;
  left: 0%
}
.consulta1 {
  position: absolute;
  font-size: 15px;
  color: red;
  top: 82px;
  left: 21%;
}
.consulta2 {
  position: absolute;
  font-size: 15px;
  color: red;
  top: 104px;
  left: 18%;
}
.consulta3 {
  position: absolute;
  font-size: 15px;
  color: red;
  top: 127px;
  left: 26%;
}